[package]
name = "inactu"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[lib]
path = "src/lib.rs"

[workspace]
members = [
  ".",
  "core/verifier",
  "cli/inactu-cli"
]
resolver = "2"
