[graph]
all-features = true

[advisories]
version = 2
yanked = "deny"
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "deny"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
]
confidence-threshold = 0.8

[licenses.private]
ignore = false
