name: Conformance

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Run Conformance Suite
        run: cargo conformance
